language: php

branches:
  only:
    - master
    - develop

before_script:
  - composer self-update
  - composer update --prefer-source

script: phpunit --testsuite travis-ci

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
  - php: hhvm
